html {
  padding: 0.5em 1em;
  color: #333;
  font-family: 'Menlo', 'Consolas', monospace;
}

ul {
  padding: 0;
  list-style: none;
  columns: 3;
}

label {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 1.25em;
  word-break: break-all;
  cursor: pointer;
  user-select: none;
}
label::before {
  border: 2px solid #999;
}

label::before,
input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  width: 1.2em;
  height: 1.2em;
  box-sizing: border-box;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  font-size: 1em;
}
input[type="checkbox"]:checked::before {
  background: blueviolet;
}
input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 0.3em;
  left: 0.2em;
  border: 0 solid #fff;
  border-width: 0 0 0.15em 0.15em;
  transform: rotate(-45deg);
  width: 0.6em;
  height: 0.25em;
}

.btn {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  outline: none;
  border: 1px solid blueviolet;
  border-radius: 4px;
  font-size: 1em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5)
}
.btn._primary {
  background: blueviolet;
  color: #fff;
}
.btn._default {
  background: #fff;
  color: blueviolet;
}

table, th, td {
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
}

th, td {
  padding: .25em .5em;
}

.ok {
  background-color: #dfd;
  color: #070;
}

.ng {
  background-color: #fee;
  color: #b00;
}

[v-cloak] {
  display: none;
}
.center {
  text-align: center;
}
